venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
backend/.env
*.db
*.sqlite3
.vscode/
seed_error.log
hs_err_pid*.log
frontend/node_modules/
frontend/.env.production
frontend/node_modules/
frontend/dist/
